
<ul id="nav-mobile" class="sidenav sidenav-fixed" style="transform: translateX(0%);">
  <li class="space-middle"></li>
  <li class="bold title">Browse music</li>
  <li class="no-padding">
    <ul>
      <li class="first bold">
        <a href="#modalDownload" class="modal-trigger">
          <i class="small material-icons">insert_chart</i>Download
        </a>
      </li>

      <li class="bold">
        <a href="about.html" class="waves-effect waves-teal">
          <i class="small material-icons">library_books</i>Genres
        </a>
      </li>

    </ul>
  </li>
  
  <li class="space-middle"></li>

  <li class="bold title">Your Music</li>
  <li class="no-padding">
    <ul>
      <li class="first bold">
        <a href="about.html" class="waves-effect waves-teal">
          <i class="small material-icons">favorite_border</i>Favourites
        </a>
      </li>

      <li class="bold">
        <a href="about.html" class="waves-effect waves-teal">
          <i class="small material-icons">history</i>History
        </a>
      </li>

    </ul>
  </li>
  
</ul>