<div id="playing" class="xhide">
    <!--<div class="bg"></div>-->
    <div class="row no-margin">

        <div class="col l4" id="details">
            <div class="row no-margin">
                <div class="col l3">
                    <img src="/" />
                    
                </div>
                <div class="col l9">
                    <div class="row indigo-text lighten-4">
                        Song: <b class="songTitle white-text"></b>
                    </div>
                    
                </div>


                
            </div>
           
        </div>

        <div class="col l8">

            <div class="row no-margin">
                <div class="controls col l3 offset-l4">
                    <button id="btnPrevius"><i class="material-icons">skip_previous</i></button>
                    <button id="btnPlay"><i class="material-icons">play_circle_filled</i></button>
                    <button id="btnNext"><i class="material-icons">skip_next</i></button>
                </div>
            </div>

            <div class="row no-margin" style="height: 25px; line-height: 25px;">
                
                <div class="col l10">
                    
                    <div id="slider">
                        <input type="range" value="0" min="0" max="100" step="0.1"/>
                    </div>
                    
                </div>
                
                <div class="col l2 no-padding">
                    <div id="timing"><span class="current"></span> - <span class="total"></span></div>
                </div>
                
            </div>


            
           
        </div>
        
    </div>

</div>