{% extends './templates/layout.html' %}

{% block content %}
<div class="col s12 m10 l8 offset-m1 offset-l2">
    <div id="content">

        <div class="col l10 offset-l1">
            <div class="playlist col l8">
                <ul></ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 